
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<ul>
    <li> <a href="https://github.com/Zealot0150/TicTacToe">Tick tac toe</a>
    <p>
        A regular tic tac toe game, made in C#
    </p>
    </li>
    <li><a href="https://github.com/Zealot0150/Sokoban">Sokoban</a>   
    
        <p>
            The famous Sokoban game, made in Javascript
        </p>
    </li>
    <li><a href="https://github.com/Zealot0150/LL6_Navigator"> LL6 Navigator</a>
        <p>
            A navigator/ fishingtool made to fish crabs. Vill not run without database och images.
        </p></li>
</ul>
