@model PeopleViewModel;

@{
    ViewData["Title"] = "Index";
}
<head>
    <script src="/content/ajax/AJAX.js"></script>
</head>
<body>
    <form method="post">
        <div class="form-group">
            <label class="text">Tryck för att hämta personer(Kan ta upp till 5 sek. DB connection?)</label>
            <input id="Button1" onclick="GetPeople()" type="button" value="Visa" />
        </div>
    </form>
    <br />
    <br />
    <br />
    Välj användare och action:
    <input type="text" id="myText" value="" label="xy" />
    <button type="button" onclick="ShowDetails()">Detaljer</button>
    <button type="button" onclick="Delete()">Ta bort</button>
    <p id="demo"></p>


    <br />
    <br />

    <div name="target" id="target">


    </div>
</body> 
